# Preprocessing Data

### Import Dependencies

In [36]:
import pandas as pd
import numpy as np

In [37]:
data_to_load = "Data/datasets_801_1483_database.csv"

In [38]:
pipeline_df = pd.read_csv(data_to_load)

,Report Number,Supplemental Number,Accident Year,Accident Date/Time,Operator ID,Operator Name,Pipeline/Facility Name,Pipeline Location,Pipeline Type,Liquid Type,...,Other Fatalities,Public Fatalities,All Fatalities,Property Damage Costs,Lost Commodity Costs,Public/Private Property Damage Costs,Emergency Response Costs,Environmental Remediation Costs,Other Costs,All Costs
0,20100016,17305,2010,01/01/2010 07:15,32109,ONEOK NGL PIPELINE LP,KINDER MORGAN JCT,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",...,NaN,NaN,NaN,110.0,1517.0,0.0,0.0,0.0,0.0,1627
1,20100254,17331,2010,01/04/2010 08:30,15786,PORTLAND PIPELINE CORP,24-INCH MAIN LINE,ONSHORE,ABOVEGROUND,CRUDE OIL,...,NaN,NaN,NaN,4000.0,8.0,0.0,0.0,0.0,0.0,4008
2,20100038,17747,2010,01/05/2010 10:30,20160,"PETROLOGISTICS OLEFINS, LLC",NaN,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",...,NaN,NaN,NaN,0.0,200.0,0.0,0.0,0.0,0.0,200
3,20100260,18574,2010,01/06/2010 19:30,11169,"ENBRIDGE ENERGY, LIMITED PARTNERSHIP",SUPERIOR TERMINAL,ONSHORE,UNDERGROUND,CRUDE OIL,...,NaN,NaN,NaN,200.0,40.0,0.0,11300.0,0.0,0.0,11540
4,20100030,16276,2010,01/07/2010 13:00,300,"PLAINS PIPELINE, L.P.",RED RIVER EAST,ONSHORE,UNDERGROUND,CRUDE OIL,...,NaN,NaN,NaN,20000.0,150.0,0.0,7500.0,2000.0,0.0,29650

In [39]:
pipeline_df.count()

Report Number                           2795
Supplemental Number                     2795
Accident Year                           2795
Accident Date/Time                      2795
Operator ID                             2795
Operator Name                           2795
Pipeline/Facility Name                  2674
Pipeline Location                       2795
Pipeline Type                           2777
Liquid Type                             2795
Liquid Subtype                          1349
Liquid Name                              222
Accident City                           2480
Accident County                         2720
Accident State                          2783
Accident Latitude                       2795
Accident Longitude                      2795
Cause Category                          2795
Cause Subcategory                       2795
Unintentional Release (Barrels)         2795
Intentional Release (Barrels)           1209
Liquid Recovery (Barrels)               2795
Net Loss (Barrels)                      2795
Liquid Ignition                         2795
Liquid Explosion                        2795
Pipeline Shutdown                       2583
Shutdown Date/Time                      1390
Restart Date/Time                       1341
Public Evacuations                      2338
Operator Employee Injuries                12
Operator Contractor Injuries              12
Emergency Responder Injuries              12
Other Injuries                            12
Public Injuries                           12
All Injuries                              12
Operator Employee Fatalities               8
Operator Contractor Fatalities             8
Emergency Responder Fatalities             8
Other Fatalities                           8
Public Fatalities                          8
All Fatalities                             8
Property Damage Costs                   2788
Lost Commodity Costs                    2791
Public/Private Property Damage Costs    2785
Emergency Response Costs                2789
Environmental Remediation Costs         2787
Other Costs                             2779
All Costs                               2795
dtype: int64

In [40]:
pipeline_df.dtypes

Report Number                             int64
Supplemental Number                       int64
Accident Year                             int64
Accident Date/Time                       object
Operator ID                               int64
Operator Name                            object
Pipeline/Facility Name                   object
Pipeline Location                        object
Pipeline Type                            object
Liquid Type                              object
Liquid Subtype                           object
Liquid Name                              object
Accident City                            object
Accident County                          object
Accident State                           object
Accident Latitude                       float64
Accident Longitude                      float64
Cause Category                           object
Cause Subcategory                        object
Unintentional Release (Barrels)         float64
Intentional Release (Barrels)           float64
Liquid Recovery (Barrels)               float64
Net Loss (Barrels)                      float64
Liquid Ignition                          object
Liquid Explosion                         object
Pipeline Shutdown                        object
Shutdown Date/Time                       object
Restart Date/Time                        object
Public Evacuations                      float64
Operator Employee Injuries              float64
Operator Contractor Injuries            float64
Emergency Responder Injuries            float64
Other Injuries                          float64
Public Injuries                         float64
All Injuries                            float64
Operator Employee Fatalities            float64
Operator Contractor Fatalities          float64
Emergency Responder Fatalities          float64
Other Fatalities                        float64
Public Fatalities                       float64
All Fatalities                          float64
Property Damage Costs                   float64
Lost Commodity Costs                    float64
Public/Private Property Damage Costs    float64
Emergency Response Costs                float64
Environmental Remediation Costs         float64
Other Costs                             float64
All Costs                                 int64
dtype: object

### Looking for Missing Values

In [41]:
pipeline_df.isnull().sum()

Report Number                              0
Supplemental Number                        0
Accident Year                              0
Accident Date/Time                         0
Operator ID                                0
Operator Name                              0
Pipeline/Facility Name                   121
Pipeline Location                          0
Pipeline Type                             18
Liquid Type                                0
Liquid Subtype                          1446
Liquid Name                             2573
Accident City                            315
Accident County                           75
Accident State                            12
Accident Latitude                          0
Accident Longitude                         0
Cause Category                             0
Cause Subcategory                          0
Unintentional Release (Barrels)            0
Intentional Release (Barrels)           1586
Liquid Recovery (Barrels)                  0
Net Loss (Barrels)                         0
Liquid Ignition                            0
Liquid Explosion                           0
Pipeline Shutdown                        212
Shutdown Date/Time                      1405
Restart Date/Time                       1454
Public Evacuations                       457
Operator Employee Injuries              2783
Operator Contractor Injuries            2783
Emergency Responder Injuries            2783
Other Injuries                          2783
Public Injuries                         2783
All Injuries                            2783
Operator Employee Fatalities            2787
Operator Contractor Fatalities          2787
Emergency Responder Fatalities          2787
Other Fatalities                        2787
Public Fatalities                       2787
All Fatalities                          2787
Property Damage Costs                      7
Lost Commodity Costs                       4
Public/Private Property Damage Costs      10
Emergency Response Costs                   6
Environmental Remediation Costs            8
Other Costs                               16
All Costs                                  0
dtype: int64

In [42]:
# Renaming Columns for Simplicity
pipeline_df.rename({"Report Number": "Report_No",
                   "Supplemental Number": "Supp_No",
                   "Accident Year": "Acc_Yr",
                   "Accident Date/Time": "Acc_Date",
                   "Operator ID": "Op_ID",
                   "Operator Name": "Op_Name",
                   "Pipeline/Facility Name": "Pipe_Fac_Name",
                   "Pipeline Location": "Pipe_Loc",
                   "Pipeline Type": "Pipe_Type",
                   "Liquid Type": "Liq_Type",
                   "Liquid Subtype": "Liq_Sub_Type",
                   "Liquid Name": "Liq_Name",
                   "Accident City": "Acc_City",
                   "Accident County": "Acc_County",
                   "Accident State": "Acc_State",
                   "Accident Latitude": "Acc_Lat",
                   "Accident Longitude": "Acc_Long",
                   "Cause Category": "Cause_Cat",
                   "Cause Subcategory": "Cause_Sub_Cat",
                   "Unintentional Release (Barrels)": "UBarrels_Lost",
                   "Intentional Release (Barrels)": "IBarrels_Lost",
                   "Liquid Recovery (Barrels)": "Liq_Rec",
                   "Net Loss (Barrels)": "N_Loss_Barrels",
                   "Liquid Ignition": "Liq_Ig",
                   "Liquid Explosion": "Liq_Exp",
                   "Pipeline Shutdown": "Pipe_Shutdown",
                   "Shutdown Date/Time": "Shutdown_Date",
                   "Restart Date/Time": "Restart_Date",
                   "Public Evacuations": "Pub_Evacs",
                   "Operator Employee Injuries": "Op_Emp_Inj",
                   "Operator Contractor Injuries": "Op_Contractor_Inj",
                   "Emergency Responder Injuries": "Emg_Resp_Inj",
                   "Other Fatalities": "Other_Fatalities",
                   "Public Fatalities": "Public_Fatalities",
                   "All Fatalities": "All_Fatalities",
                   "Property Damage Costs": "Property_Damage_Costs",
                   "Lost Commodity Costs": "Lost_Commodity_Costs",
                   "Public/Private Property Damage Costs": "PPP_Damage_Costs",
                   "Emergency Response Costs": "Emg_Resp_Costs",
                   "Environmental Remediation Costs": "Env_Rem_Costs",
                   "Other Costs": "Other_Costs",
                   "All Costs": "All_Costs"}, axis="columns", inplace="True")

### Dealing with Missing Addresses

In [44]:
from geopy import Nominatim

In [45]:
pipeline_df['lat_long'] = list(zip(pipeline_df.Acc_Lat, pipeline_df.Acc_Long))
pipeline_df.head()

,Report_No,Supp_No,Acc_Yr,Acc_Date,Op_ID,Op_Name,Pipe_Fac_Name,Pipe_Loc,Pipe_Type,Liq_Type,...,Public_Fatalities,All_Fatalities,Property_Damage_Costs,Lost_Commodity_Costs,PPP_Damage_Costs,Emg_Resp_Costs,Env_Rem_Costs,Other_Costs,All_Costs,lat_long
0,20100016,17305,2010,01/01/2010 07:15,32109,ONEOK NGL PIPELINE LP,KINDER MORGAN JCT,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",...,NaN,NaN,110.0,1517.0,0.0,0.0,0.0,0.0,1627,"(38.6707, -97.78123000000001)"
1,20100254,17331,2010,01/04/2010 08:30,15786,PORTLAND PIPELINE CORP,24-INCH MAIN LINE,ONSHORE,ABOVEGROUND,CRUDE OIL,...,NaN,NaN,4000.0,8.0,0.0,0.0,0.0,0.0,4008,"(43.94028, -70.49336)"
2,20100038,17747,2010,01/05/2010 10:30,20160,"PETROLOGISTICS OLEFINS, LLC",NaN,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",...,NaN,NaN,0.0,200.0,0.0,0.0,0.0,0.0,200,"(30.1824, -93.3524)"
3,20100260,18574,2010,01/06/2010 19:30,11169,"ENBRIDGE ENERGY, LIMITED PARTNERSHIP",SUPERIOR TERMINAL,ONSHORE,UNDERGROUND,CRUDE OIL,...,NaN,NaN,200.0,40.0,0.0,11300.0,0.0,0.0,11540,"(46.6893, -92.0612)"
4,20100030,16276,2010,01/07/2010 13:00,300,"PLAINS PIPELINE, L.P.",RED RIVER EAST,ONSHORE,UNDERGROUND,CRUDE OIL,...,NaN,NaN,20000.0,150.0,0.0,7500.0,2000.0,0.0,29650,"(33.58266, -96.64881)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2790,20170015,22020,2016,12/27/2016 8:40 AM,32334,TC OIL PIPELINE OPERATIONS INC,KEYSTONE,ONSHORE,ABOVEGROUND,CRUDE OIL,...,NaN,NaN,0.0,15.0,0.0,0.0,61000.0,0.0,61015,"(39.517036, -93.48605500000001)"
2791,20170028,22046,2016,12/28/2016 4:20 PM,4906,EXXONMOBIL PIPELINE CO,BRRF - CHOCTAW ETHANE/PROPANE MIX SYSTEM,ONSHORE,UNDERGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",...,NaN,NaN,0.0,5400.0,0.0,0.0,0.0,100000.0,105400,"(30.332596999999996, -91.274491)"
2792,20170027,22045,2016,12/29/2016 6:40 AM,39145,ENBRIDGE STORAGE (CUSHING) L.L.C.,CUSHING CENTRAL TERMINAL,ONSHORE,TANK,CRUDE OIL,...,NaN,NaN,7000.0,50.0,0.0,5000.0,3000.0,0.0,15050,"(35.565292, -96.45495600000001)"
2793,20170024,22032,2017,01/03/2017 10:00,32147,MARATHON PIPE LINE LLC,MIDLAND STATION,ONSHORE,UNDERGROUND,"REFINED AND/OR PETROLEUM PRODUCT (NON-HVL), LI...",...,NaN,NaN,11852.0,11.0,0.0,29565.0,0.0,0.0,41428,"(40.631074, -80.440463)"
2794,20170025,22040,2017,01/09/2017 07:40,30829,ENTERPRISE CRUDE PIPELINE LLC,MARSHALL STATION,ONSHORE,ABOVEGROUND,CRUDE OIL,...,NaN,NaN,45600.0,200.0,0.0,0.0,0.0,0.0,45800,"(29.30541, -97.400301)"

### Dealing with Missing Cities

In [46]:
acc_city_rows = pipeline_df.loc[pipeline_df['Acc_City'].isnull()]
acc_city_rows = acc_city_rows[["Acc_City", "Acc_County", "Acc_State", "lat_long"]]
acc_city_rows

,Acc_City,Acc_County,Acc_State,lat_long
8,NaN,NaN,TX,"(29.4305, -95.1201)"
49,NaN,NaN,NC,"(35.483540000000005, -80.7357)"
53,NaN,NaN,NaN,"(28.104059999999997, -90.79238000000001)"
75,NaN,NaN,NaN,"(28.68555, -91.04555)"
138,NaN,TREGO,KS,"(38.72582, -99.73018)"
...,...,...,...,...
2780,NaN,ECTOR,TX,"(31.950229999999998, -102.604223)"
2781,NaN,REAGAN,TX,"(31.36115, -101.51411999999999)"
2788,NaN,ARCHER,TX,"(33.655691999999995, -98.62476600000001)"
2789,NaN,GAINES,TX,"(32.8618, -102.91920999999999)"
2791,NaN,WEST BATON ROUGE,LA,"(30.332596999999996, -91.274491)"

### Using geopy to attain missing addresses

In [47]:
geolocator = Nominatim(user_agent="geoapiExercises")

In [48]:
city_addresses = []
for coordinates in acc_city_rows['lat_long']:
    try:
        location=geolocator.reverse(f'{coordinates[0]},{coordinates[1]}')
        address=location.raw['address']
        city=address.get('city', 'Not Stated')
        city_addresses.append(city)
        print(city)
    except TypeError:
        print("None")
        city_addresses.append("Not Stated")

Not Stated
Not Stated
None
None
Not Stated
Pasadena
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
None
Not Stated
Beaumont
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Aurora
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
None
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Omaha
Not Stated
Not Stated
Not Stated
Victoria
Not Stated
None
Not Stated
Not Stated
Not Stated
Not Stated
New Haven
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
None
Not Stated
Not Stated
Los Angeles
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
None
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
None
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
None
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
San Antonio
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Corpus Christi
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated
Not Stated

In [50]:
# Replace Missing cities with city_addresses list
pipeline_df.loc[pipeline_df["Acc_City"].isnull(), "Acc_City"] = city_addresses

### Dealing with Missing States

In [51]:
acc_state_rows = pipeline_df.loc[pipeline_df['Acc_State'].isnull()]
acc_state_rows = acc_state_rows[["Acc_City", "Acc_County", "Acc_State", "lat_long"]]
acc_state_rows

,Acc_City,Acc_County,Acc_State,lat_long
53,Not Stated,NaN,NaN,"(28.104059999999997, -90.79238000000001)"
75,Not Stated,NaN,NaN,"(28.68555, -91.04555)"
174,Not Stated,NaN,NaN,"(28.711239000000003, -89.43768100000001)"
233,Not Stated,NaN,NaN,"(28.617778, -92.068889)"
503,Not Stated,NaN,NaN,"(27.943, -90.99799999999999)"
594,Not Stated,NaN,NaN,"(29.265359999999998, -88.77223000000001)"
999,Not Stated,NaN,NaN,"(28.618056, -92.06916700000001)"
1665,Not Stated,NaN,NaN,"(28.260371999999997, -92.250136)"
1733,Not Stated,NaN,NaN,"(27.87527711, -91.98638879999999)"
2039,Not Stated,NaN,NaN,"(28.104059999999997, -90.79236999999999)"
2267,Not Stated,NaN,NaN,"(27.946944399999996, -90.9969444)"
2340,Not Stated,NaN,NaN,"(29.605714000000003, -92.901848)"

In [52]:
state_addresses = []
for coordinates in acc_state_rows['lat_long']:
    try:
        location=geolocator.reverse(f'{coordinates[0]},{coordinates[1]}')
        address=location.raw['address']
        state=address.get('state', 'Offshore')
        state_addresses.append(state)
        print(state)
    except TypeError:
        print("NA")
        state_addresses.append("Offshore")

NA
NA
Offshore
NA
NA
Offshore
NA
NA
NA
NA
NA
Louisiana

In [53]:
# Replacing missing states with state_addresses list
pipeline_df.loc[pipeline_df["Acc_State"].isnull(), "Acc_State"] = state_addresses

### Replacing missing values with zero

In [61]:
from numpy import *
pipeline_df['Op_Emp_Inj'] = pipeline_df['Op_Emp_Inj'].replace(np.nan, 0)
pipeline_df['Op_Contractor_Inj'] = pipeline_df['Op_Contractor_Inj'].replace(np.nan, 0)
pipeline_df['Emg_Resp_Inj'] = pipeline_df['Emg_Resp_Inj'].replace(np.nan, 0)
pipeline_df['Other Injuries'] = pipeline_df['Other Injuries'].replace(np.nan, 0)
pipeline_df['Public Injuries'] = pipeline_df['Public Injuries'].replace(np.nan, 0)
pipeline_df['All Injuries'] = pipeline_df['All Injuries'].replace(np.nan, 0)

In [62]:
pipeline_df['Operator Employee Fatalities'] = pipeline_df['Operator Employee Fatalities'].replace(np.nan, 0)
pipeline_df['Operator Contractor Fatalities'] = pipeline_df['Operator Contractor Fatalities'].replace(np.nan, 0)
pipeline_df['Emergency Responder Fatalities'] = pipeline_df['Emergency Responder Fatalities'].replace(np.nan, 0)
pipeline_df['Other_Fatalities'] = pipeline_df['Other_Fatalities'].replace(np.nan, 0)
pipeline_df['Public_Fatalities'] = pipeline_df['Public_Fatalities'].replace(np.nan, 0)
pipeline_df['All_Fatalities'] = pipeline_df['All_Fatalities'].replace(np.nan, 0)

In [63]:
pipeline_df['Property_Damage_Costs'] = pipeline_df['Property_Damage_Costs'].replace(np.nan, 0)
pipeline_df['Lost_Commodity_Costs'] = pipeline_df['Lost_Commodity_Costs'].replace(np.nan, 0)
pipeline_df['PPP_Damage_Costs'] = pipeline_df['PPP_Damage_Costs'].replace(np.nan, 0)
pipeline_df['Emg_Resp_Costs'] = pipeline_df['Emg_Resp_Costs'].replace(np.nan, 0)
pipeline_df['Env_Rem_Costs'] = pipeline_df['Env_Rem_Costs'].replace(np.nan, 0)
pipeline_df['Other_Costs'] = pipeline_df['Other_Costs'].replace(np.nan, 0)
pipeline_df['All_Costs'] = pipeline_df['All_Costs'].replace(np.nan, 0)

In [65]:
pipeline_df['Pub_Evacs'] = pipeline_df['Pub_Evacs'].replace(np.nan, 0)

In [66]:
pipeline_df['IBarrels_Lost'] = pipeline_df['IBarrels_Lost'].replace(np.nan, 0)

### Replacing other missing values with 'Not Stated'

In [67]:
pipeline_df['Pipe_Shutdown']  = pipeline_df['Pipe_Shutdown'].replace(np.nan, 'Not Stated', regex=True)

In [70]:
pipeline_df['Acc_County']  = pipeline_df['Acc_County'].replace(np.nan, 'Not Stated', regex=True)

In [71]:
# pipeline_df['Pipe_Shutdown'] = pipeline_df['Pipe_Shutdown'].replace({np.nan: Not Stated})
pipeline_df['Liq_Name']  = pipeline_df['Liq_Name'].replace(np.nan, 'Not Stated', regex=True)
pipeline_df['Liq_Sub_Type']  = pipeline_df['Liq_Sub_Type'].replace(np.nan, 'Not Stated', regex=True)
pipeline_df['Pipe_Type']  = pipeline_df['Pipe_Type'].replace(np.nan, 'Not Stated', regex=True)
pipeline_df['Pipe_Fac_Name']  = pipeline_df['Pipe_Fac_Name'].replace(np.nan, 'Not Stated', regex=True)

### Feature Creation

In [74]:
# Creating Length of Shutdown Feature from Restart_Date and Shutdown_Date
pipeline_df['Restart_Date'] = pipeline_df['Restart_Date'].astype('datetime64[ns]')
pipeline_df['Shutdown_Date'] = pipeline_df['Shutdown_Date'].astype('datetime64[ns]')

In [82]:
import datetime as dt
pipeline_df['Shutdown_Days'] = (pipeline_df['Restart_Date'] - pipeline_df['Shutdown_Date']).dt.days

In [86]:
pipeline_df['Shutdown_Days']  = pipeline_df['Shutdown_Days'].replace(np.nan, 'Not Stated', regex=True)

### Dropping Shutdown_Date and Restart_Date Features

In [91]:
pipeline_df.drop(columns=['Shutdown_Date', 'Restart_Date'], inplace=True)

Report_No                         0
Supp_No                           0
Acc_Yr                            0
Acc_Date                          0
Op_ID                             0
Op_Name                           0
Pipe_Fac_Name                     0
Pipe_Loc                          0
Pipe_Type                         0
Liq_Type                          0
Liq_Sub_Type                      0
Liq_Name                          0
Acc_City                          0
Acc_County                        0
Acc_State                         0
Acc_Lat                           0
Acc_Long                          0
Cause_Cat                         0
Cause_Sub_Cat                     0
UBarrels_Lost                     0
IBarrels_Lost                     0
Liq_Rec                           0
N_Loss_Barrels                    0
Liq_Ig                            0
Liq_Exp                           0
Pipe_Shutdown                     0
Pub_Evacs                         0
Op_Emp_Inj                        0
Op_Contractor_Inj                 0
Emg_Resp_Inj                      0
Other Injuries                    0
Public Injuries                   0
All Injuries                      0
Operator Employee Fatalities      0
Operator Contractor Fatalities    0
Emergency Responder Fatalities    0
Other_Fatalities                  0
Public_Fatalities                 0
All_Fatalities                    0
Property_Damage_Costs             0
Lost_Commodity_Costs              0
PPP_Damage_Costs                  0
Emg_Resp_Costs                    0
Env_Rem_Costs                     0
Other_Costs                       0
All_Costs                         0
lat_long                          0
Shutdown_Days                     0
dtype: int64

In [92]:
pipeline_df.to_csv(r'C:\Users\Greg\Documents\Analysis_Projects\pipeline.csv', index = False, header=True)